@import url('https://fonts.googleapis.com/css?family=Poppins');

h1, h2, h3, h4, p, a {
    font-family: Poppins;
}

@keyframes gradientRotate {
    0% {
        background-position: 0% 0%;
   }
    100% {
        background-position: 100% 100%;
   }
}

@keyframes GRADIENTBORDER {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

center{
    margin-left: 15%;
    margin-right: 15%;
}
.exploitBorder{
    transition: transform .2s;
    height: 190px !important;
    width: 100% !important;
    border-radius: 10px;
    margin: 10px;
    max-width: 350px;
	background: linear-gradient(-45deg, #47589c, #7a63b9);
	background-size: 400% 400%;
	animation: GRADIENTBORDER 5s ease infinite;
    position: relative;
    transition: all .1s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.exploitBorder:hover{
    transform: scale(1.05);
}

.exploitTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    left: 150px;
    font-size: larger;
    color: white;
    position: absolute;
}

.exploitDescription{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    left: 150px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    word-wrap: break-word;
}

.exploitImg{
    position: absolute;
    left:0;
    top:0;
    object-fit: scale-down;
    float: left;
    height: 100%;
    width: 100%;
    margin: 10px;
    max-height: 128px;
    max-width: 128px;
    border-radius: 10px;
}

.exploitBtn{
    cursor: pointer;
    width: 305px;
    background: linear-gradient(#859CF8, #9E80F4);
    color: #fefefe;
    border-radius: 10px;
    margin: 10px;
    bottom: 0px;
    font-size: 12px;
    padding: 5px 12px;
    color: #fff;
    position: absolute;
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #141414;
    overflow: hidden;
}

.chrome{
    right: 0px;
    cursor: pointer;
    width: 137px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    margin: 10px;
    bottom: 0px;
    font-size: 12px;
    padding: 5px 12px;
    color: #fff;
    position: absolute;
}